/********** Desktop ************/
.main-home {
  background-color: white;
}
.h2,
h3,
h4,
H5 {
  font-family: 'Rubik', sans-serif;
}
/****Banner*********/
.banner {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner_container {
  width: 100%;
}
.banner_img {
  width: 100%;
  height: 400px;
  margin: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

/*******Main****/
.content_intro {
  font-family: 'Oxygen', sans-serif;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  color: #000000;
  padding: 40px;
}
.content_display {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  margin-bottom: 60px;
}
.content_action {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
}
.content_action img {
  width: 170px;
  padding-bottom: 10px;
}
.content_txt {
  padding: 5px;
  font-family: 'Oxygen', sans-serif;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 18px;
}
/*Info*/
.info_display {
  font-family: 'Oxygen', sans-serif;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 40px;
}
.info_red a {
  color: #ba1313;
  text-decoration: none;
  font-style: normal;
  overflow-wrap: break-word;
}

/********** Tablette **********/
@media (max-width: 992px) {
  /*BANNER*/
  .banner {
    height: 300px;
  }
  .banner_img {
    height: 300px;
  }
  

  /*CONTENT*/
  .content_intro {
    font-size: 20px;
  }
  .content_display {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .content_action {
    width: 120px;
  }
  .content_action img {
    width: 120px;
    padding-bottom: 10px;
  }
  .content_txt {
    font-size: 15px;
  }
  /*Info*/
  .info_display {
    font-size: 20px;
    line-height: 30px;
  }
}

/************* Mobile *******************/
@media (max-width: 768px) {
  .banner {
    height: 200px;
  }
  .banner_img{
    height: 200px;
  }
  
  /*CONTENT*/
  .content_intro {
    font-size: 18px;
    padding: 20px;
    letter-spacing: 0px;
  }
  .content_display {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .content_action {
    width: 90px;
  }
  .content_action img {
    width: 90px;
    padding-bottom: 10px;
  }
  .content_txt {
    font-size: 12px;
  }
  /*Info*/
  .info_display {
    font-size: 18px;
    padding: 20px;
    letter-spacing: 0.1em;
  }
}

/**********450px*/
@media (max-width: 450px) {
  
  /*Info*/
  .info_display {
    font-size: 14px;
    line-height: 30px;
  }

  /*CONTENT*/
  .content_intro {
    font-size: 14px;
    letter-spacing: 0.1em;
  }
  .content_display {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 30px;
  }
  .content_action {
    width: 150px;
  }
  .content_action img {
    width: 150px;
    padding-bottom: 5px;
  }
  .content_txt {
    font-size: 14px;
    letter-spacing: 0.1em;
  }
}
