/********** Desktop ************/
.header_container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: black;
  padding-top: 5px;
}
.header_info {
  display: flex;
}
.phone_number {
  color: white;
  display: flex;
  justify-content: flex-start;
  padding-top: 5px;
  width: 100%;
  font-family: 'Rubik', sans-serif;
}
.instagram {
  width: 10%;
}
.logo_center {
  display: flex;
  justify-content: center;
  
}
.logo {
  height: 170px;
}
.header_content {
  color: white;
  font-family: 'Rubik', sans-serif;
  line-height: 28px;
  letter-spacing: 0.2em;
  display: flex;
  font-size: 20px;
  padding: 18px;
  justify-content: center;
}
/*Menu Hamburger*/
.hamburger_menu {
  margin-left: 15px;
  margin-top: 15px;
}

#menu__toggle {
  display: none;
}
.menu__btn {
  display: flex;
  flex-direction: column;
  width: 70px;
  cursor: pointer;
}
.menu__btn span {
  background: #fff;
  border-radius: 10px;
  height: 7px;
  margin: 7px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  z-index: 99999;
}
.menu__btn span:nth-of-type(1) {
  width: 50%;
}
.menu__btn span:nth-of-type(2) {
  width: 100%;
}
.menu__btn span:nth-of-type(3) {
  width: 75%;
}

#menu__toggle:checked ~ .menu__btn span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(9px, 2px);
}
#menu__toggle:checked ~ .menu__btn span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}
#menu__toggle:checked ~ .menu__btn span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(28px, -10px) rotatez(45deg);
}

#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}

.menu__box {
  display: block;
  position: fixed;
  z-index: 99;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}

.menu__item:hover {
  background-color: rgb(255 255 255 / 55%);
}

/********** Tablette **********/
@media (max-width: 992px) {
  .header_container {
    width: auto;
    padding: 10px;
  }
  .logo_center {
    padding-bottom: 0px;
  }
  .logo {
    height: 120px;
  }
  
  .header_content {
    font-size: 15px;
    padding: 10px;
  }
  .menu__btn span {
    margin: 3px 0;
  }
  #menu__toggle {
    width: 50%;
    height: 50%;
  }
  .menu__btn span{
    height: 4px;
  }
  .menu__btn {
    width: 30px;
  }
  #menu__toggle:checked ~ .menu__btn span:nth-of-type(1) {
    transform: rotatez(45deg) translate(5px, 1px);
  }
  #menu__toggle:checked ~ .menu__btn span:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(13px, -6px) rotatez(45deg);
  }
  .menu__btn span:nth-of-type(2) {
    width: 95%};

}

/************* Mobile *******************/
@media (max-width: 768px) {
  .header_container {
    padding: 6px;
  }
  .logo_center {
    padding-bottom: 0px;
  }
  .logo {
    height: 80px;
  }

  .header_content {
    letter-spacing: 0.1em;
    font-size: 12px;
    padding: 0px;
  }
}
/************* Mobile *******************/
@media (max-width: 450px) {
  .phone_number {
    font-size: 12px;
    width: 50%;
  }

  .instagram {
    width: 15%;
  }
}
