/********** Desktop ************/
.footer {
  background-color: #ba1313;
  color: white;
  padding: 10px;
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-top: 60px;
  font-family: 'Oxygen', sans-serif;
}
.footer_container {
  width: 100%;
  padding-top: 5px;
  display: flex;
  justify-content: flex-end;
}
.logo_center {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  width: 100%;
}
.footer_logo {
  width: 20%;
}
.lien_reseau {
  display: flex;
  justify-content: flex-end;
  position: absolute;
}
.logo_reso {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.footer_info {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
.footer_adresse{
  font-style: normal;
}
.footer_adresse a{
  text-decoration: none;
  color: white;
  font-style: normal;
  cursor: pointer;
}

/********** Tablette **********/
@media (max-width: 992px) {
  .footer {
    height: auto;
    padding: 0px;
    justify-content: space-between;
    padding: 5px;
    padding-bottom: 5px;
  }
  .logo_reso {
    width: 30px;
    height: 30px;
  }
  .footer_logo {
    width: 35%;
  }
  .footer_info {
    font-size: 12px;
  }
}

/************* Mobile *******************/
@media (max-width: 768px) {
  .footer{
    margin-top: 20px;
  }
  .footer_logo {
    margin-top: 10px;
  }
  .logo_reso {
    width: 25px;
    height: 25px;
  }
}
/************* Mobile *******************/
@media (max-width: 450px) {
  .footer_info {
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
    
  }
}
